.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.container.dark {
    color: white !important;
}

.details{
    display: flex;
    gap: 10px;
    height: 100%;
    overflow: hidden;
    flex: 1;
}
@media (max-width: 1000px) {
    .details {
        flex-direction: column;
    }
}

.attributes {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 1;
    overflow: auto;
    padding: 8px;
}

.attributes.dark {
    /* color: aliceblue; */
}

.aside {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 300px;
}
.menuButton span {
    display: flex;
    align-items: center;
    gap: 8px;
}
.menuButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textNotFound {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.actions{
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-end;
}