.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.details{
    display: flex;
    gap: 10px;
    height: 100%;
    overflow: hidden;
    flex: 1;
}

.attributes {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 1;
    overflow: auto;
    padding: 8px;
}

.aside {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 300px;
}
.menuButton span {
    display: flex;
    align-items: center;
    gap: 8px;
}
.menuButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textNotFound {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
