.item{
    display: flex;
    align-items: center;
    gap: 4px;
    
}

.list{
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title{
    margin-bottom: 16px;
    font-size: 19px;
    border-bottom: 1px solid var(--gray-light);
    padding-bottom: 12px;
}