.input {
    background-color: #F8F8F8;
    color: var(--black);
    padding: 12px 30px 12px 12px;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
    font-size: 8px;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
}


.input:disabled{
    color: #a6a6a6;
}

.input.dark {
    background-color: var(--dark-blue-light);
    border: 1px solid var(--gray);
    color: var(--white);
}

.copy{
    background-color: transparent;
    border: none;
    color: #a6a6a6;
    position: absolute;
    right: 8px;
    bottom: 50%;
    transform: translateY(50%);
    cursor: pointer;
}

.copy:hover{
    color: var(--black);
}
