.container {
    background-color: #fff;
    padding: 6px 16px;
    border-radius: 16px;

    cursor: pointer;
}

.container.dark {
    background-color: #52565b;
}
.container.dark:hover {
    background-color: #44474a;
}
.container:hover {
    background-color: #fafafa;
}