/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

/* Common css style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  transition: .1s;
}

*:focus-visible{
  outline: 1px solid var(--blue);
  border-radius: 3px;
}

:root {
  --white: #ebebeb;
  --blue: #63ABFF;
  --black: #282828;
  --dark-blue-light: #3f4246;
  --dark-blue: #313438;
  --red: #EF6262;
  --gray: #646464;
  --test: #6c7279;
  --gray-light: #dde3ea; 
}

.react-datepicker-wrapper{
  width: 100%;
}

.react-loading-skeleton {
  z-index: 0 !important;
}