.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    /* max-width: 500px; */
    padding: 24px 0 0;
    width: 50%;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.version {
    padding: 4px 8px;
    border-radius: 12px;
    background-color: var(--white);
    color: var(--test);
    width: fit-content;
    font-size: 12px;
    margin: 0px 0 16px;
}

.tags{
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;  
}

.containerButton{
    font-weight: 500;
    font-size: 16px;
}