.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    /* max-width: 500px; */
    padding: 24px 0 0;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.version {
    padding: 4px 8px;
    border-radius: 12px;
    background-color: var(--white);
    color: var(--test);
    width: fit-content;
    font-size: 12px;
    margin: 0px 0 16px;
}

.tags{
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;  
}