.container {
    border-right: 1px solid #d8d8d8;
    padding: 24px 8px 8px;
    background-color: #fff;
}

.container.dark{
    background-color: #35383d;
    border-right: 1px solid #646464;
}

@media (max-width: 700px) {
    .container {
        display: none;
        z-index: 1;
    }

    .container.active {
        display: block;
        position: absolute;
        left: 0;
        top: 71px;
        bottom: 0;
        width: 275px;
    }
}