.container{
    display: flex;
    height: 100%;
    overflow: hidden;
}

.container.dark{
    background-color: var(--dark-blue);
}

/* menu */
.container>aside{
    width: 285px;
}

/* content */
.container>main{
    flex: 1;
}
