.container {
    padding: 8px 15px;
    font-weight: 500;
    color: var(--black);
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: var(--radius);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
}

.container:disabled {
    background-color: #DDD;
    cursor:not-allowed;
}

.container:disabled:hover {
    background-color: #DDD !important;
}

.dark {
    background-color: #52565b;
    color: var(--white);
}

.blue {
    background-color: var(--blue);
    color: #fff;
}

.transparent {
    background-color: transparent;
}

.container:hover {
    background-color: #f6f6f6;
}

.container.dark:hover {
    background-color: #44484c;
}

.container.blue:hover {
    background-color: var(--blue-light);
}
