.container{
    padding: 8px 15px;
    font-weight: 500;
    color: var(--black);
    background-color: #EFEFEF;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    border: 1px solid #dde3ea;
}

.dark {
    background-color: #52565b;
    color: var(--white);
}

.blue {
    background-color: var(--blue);
    color: #fff;
    border-radius: var(--radius);
}

.transparent {
    background-color: transparent;
    border: 1px solid transparent;
}

.container:hover{
    background-color: #e6e6e6;
}

.container.dark:hover{
    background-color: #44484c;
}