.container {
    display: grid;
    width: 100%;
}

.outer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    height: 100%;
}

.container.dark {
    border-bottom: 1px solid var(--gray);
}
