.container {
    display: grid;
    overflow: auto;
    width: fit-content;
    border-bottom: 1px solid #D9D9D9;
}

.filters{
    margin-top: 48px;
}

.darkCell {
    background-color: #efefef;
}

.container.dark{
    border-bottom: 1px solid var(--gray);
}