.container {
    display: grid;
    overflow: auto;
    width: 100%;
}

.outerFilters{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters{
    display: flex;
    margin-top: 48px;
    gap: 10px;
}

.container.dark{
    border-bottom: 1px solid var(--gray);
}