.input {
    color: var(--black);
    font-size: 8px;
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    border: none;
    cursor: inherit;
}

.input:focus {
    outline: none;
}

.inputBox:focus-within {
    outline: 1px solid var(--blue);
}

.inputBox {
    position: relative;
    cursor: text;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F8F8F8;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
    gap: 8px;
    padding: 12px 30px 12px 12px;
}


.input:disabled{
    color: #a6a6a6;
}

.input.dark {
    background-color: var(--dark-blue-light);
    border: 1px solid var(--gray);
    color: var(--white);
}

.copy{
    position: absolute;
    right: 8px;
    bottom: 50%;
    transform: translateY(50%);
}

.tagDeleteIcon {
    cursor: pointer;
}

.plusIcon {
    position: absolute;
    right: 12px;
    bottom: 12px;
    color: var(--gray);
    cursor: pointer;

    animation: plusIconFadeIn .1s ease-in 1 forwards;
    animation-name: plusIconFadeIn;
}

@keyframes plusIconFadeIn {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}