.version {
    padding: 4px 8px;
    border-radius: 12px;
    background-color: var(--white);
    color: var(--test);
    width: fit-content;
    font-size: 12px;
    margin: 0px 0 16px;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;  
}

.containerButton{
    font-weight: 500;
    font-size: 16px;
}