.container {
    margin-top: 16px;
    color: var(--black);
}

.container.dark {
    color: var(--white);
}

.title{
    margin-bottom: 8px;
}

.titleContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}