.container {
    margin-top: 16px;
    color: var(--black);
    display: flex;
    flex-direction: column;
    height: 100%;
    /* overflow: hidden; */
    flex: 1;
}

.container.dark {
    color: var(--white);
}

.title{
    margin-bottom: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
}


.titleContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
