.container {
    max-width: 100%;
    padding: 20px;
    background-color: var(--gray-background);
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.container.dark {
    background-color: var(--dark-blue);
}