.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    padding: 25px 8px;
    gap: 8px;
    padding-right: 8px;
    user-select: none;
}

.sortIcon {
    cursor: pointer;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.order {
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
    background-color: #eeeeee;
    width: 15px;
    height: 15px;
    padding: 5px;
    border-radius: 50%;
    font-size: 12px;
}