.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    gap: 8px;
    flex: 1;
    border-radius: var(--radius);
}

.formContainer {
    /* height: 20%; */
}

.main {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: auto;
}

.title{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 8px;
    border-radius: var(--radius);
    position: sticky;
    top: 0;
}

.title.dark {
    background-color: #52565b;
}

.title.dark .subtitle {
     background-color: var(--dark-blue-light);
}

.subtitle{
    font-size: 14px;
    font-weight: 400;
    background-color: #c8c8c8;
    padding: 4px;
    color: #fff;
    border-radius: var(--radius);
}