.messageContainer {
    display: flex;
    justify-content: flex-start;
}

.messageContainer.own {
    display: flex;
    justify-content: flex-end;
}

.containerHeader {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    padding: 10px 8px;
    color: var(--white);
    border-bottom: 2px solid #00000050;
    background-color: #4d92e3;
    margin: 10px 10px 0 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;

    min-width: 250px;
    max-width: 400px;
}

.containerHeader.own {
    background-color: #16212c;
}

.containerHeaders {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 8px;
    color: var(--black);
    border-bottom: 3px solid #00000096;
    background-color: #91b3de;
    margin: 0 10px;
    animation: slideIn 1s;
    position: relative;
    transition: margin 2s ease;

    min-width: 250px;
    max-width: 400px;
}

.headerKey {
    margin-right: 10px;
    overflow-wrap: break-word;
}

.headerValue {
    overflow-wrap: break-word;

    max-width: 150px;
}

.line {
    text-align: center;
    margin: 5px;
    background: #00000050;
    height: 0.5px;
    border-width: 0;
}


.header {
    display: flex;
    justify-content: space-between;
}

.containerData {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    overflow-wrap: break-word;
    font-weight: 400;
    padding: 25px 8px;
    color: var(--black);
    border-bottom: 3px solid #00000096;
    background-color: #ffffff;
    margin: 0 10px 10px 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    min-width: 250px;
    max-width: 400px;
}

.container svg {
    color: var(--black);
}

.darkContainer {
    background-color: #26405e;
}

.darkContainer.dark {
    background-color: #26405e;
}

.container.dark {
    color: var(--white);
}

.container.dark svg {
    color: var(--white);
}

.hover {
    background-color: #681a6b;
}
