.messageContainer {
    width: 100%;
    height: 100%;

    border-radius: var(--radius);
    padding: 8px;

    background-color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 8px;
}

.headerBox {
    overflow-y: auto;
    max-height: 100%;
}

.inputBox {
    display: flex;
    align-items: center;
    gap: 8px;
}
.headerInputs{
    display: flex;
    gap: 8px;
}
/* .messageContainer.dark {
    background-color: #053159;
} */
