.messageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--gray-light);
    background-color: #fff;
    border-radius: var(--radius) ;
}

.messageContainer.own {
    display: flex;
    justify-content: flex-end;
}

.containerHeader {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-light);
    padding: 10px 8px;
    color: var(--black);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    margin-top: 8px;
    font-weight: 600;

}

.containerHeader.dark {
    background-color: #52565b;
    border-bottom: 1px solid  var(--gray);

}

.dark {
    color: white !important;
}

.dark .containerData {
    color: white !important;
}

.messageContainer.dark {
     background-color: #52565b !important;
    border: 1px solid var(--gray);
}

.containerData {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    overflow-wrap: break-word;
    font-weight: 400;
    padding: 25px 8px;
    color: var(--black);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

.container svg {
    color: var(--black);
    cursor: pointer;
}

/* .containerHeader.own {
    background-color: #16212c;
} */

.containerHeaders {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 8px;
    color: var(--black);
    background-color: var(--gray-light);
    animation: slideIn 1s;
    position: relative;
    transition: margin 2s ease;
}

.dark .containerHeaders{
    background-color: var(--dark-blue-light);
    color: white;
}

.headerKey {
    margin-right: 10px;
    overflow-wrap: break-word;
}

.headerValue {
    overflow-wrap: break-word;

    max-width: 150px;
}

.line {
    text-align: center;
    margin: 5px;
    background: #00000050;
    height: 0.5px;
    border-width: 0;
}

.dark .line {
    background-color: var(--gray);
}


.header {
    display: flex;
    justify-content: space-between;
}

.darkContainer {
    background-color: #26405e;
}

.darkContainer.dark {
    background-color: #26405e;
}

.container.dark {
    color: var(--white);
}

.container.dark svg {
    color: var(--white);
}

.hover {
    background-color: #681a6b;
}

.containerHeadersEmpty{
    text-align: center;
    color: var(--gray);
}

.ownSubject{
    font-size: 14px;
}

.subject{
    display: flex;
    align-items: center;
    gap: 8px;
}