.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #454545;
    background-color: transparent;
    font-size: 18px;
    padding: 15px 12px;
    text-decoration: none;
    width: 100%;
    font-weight: 600;
    border-radius: 3px;
}

.innerContainer {
    display: flex;
    align-items: center;
    gap: 6px;
}

.container.dark {
    color: #dadada;
}

.container:hover {
    background-color: #F5F5F5;
}

.container:not(.active):hover {
    color: #5B5B5B;
}

.container:not(.active):hover svg {
    color: #5B5B5B;
}

.textRight {
    font-size: 12px;
    color: #B9B9B9;
    font-weight: 400;
}

.container:not(.active):hover .textRight {
    color: #5B5B5B;
}

.container.dark:hover {
    color: #e1e1e1;
}

.container.dark:hover svg {
    color: #e1e1e1;
}

.container.dark:hover .textRight {
    color: #e1e1e1;
}

.container.active {
    color: var(--blue);
    background-color: #63abff26;
}

.container.active:hover {
    color: var(--blue);
}

.container.active:hover svg {
    color: var(--blue);
}

.container.active .textRight {
    color: var(--blue);
}

.container.active:hover .textRight {
    color: var(--blue);
}