.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #777777;
    background-color: transparent;
    font-size: 18px;
    padding: 8px 12px;
    text-decoration: none;
    width: 100%;
    font-weight: 400;
}

.container.dark{
    color: #dadada;
}

.container:hover{
    background-color: rgb(99, 171, 255, .15);
}

.container:not(.active):hover{
    color: #5B5B5B;
}

.container:not(.active):hover svg{
    color: #5B5B5B;
}

.textRight {
    font-size: 12px;
    color: #B9B9B9;
}

.container:not(.active):hover .textRight{
    color: #5B5B5B;
}

.container.dark:hover{
    color: #e1e1e1;
}

.container.dark:hover svg{
    color: #e1e1e1;
}

.container.dark:hover .textRight{
    color: #e1e1e1;
}

.container.active {
    color: var(--blue);
    font-weight: 600;
}

.container.active:hover {
    color: var(--blue);
}

.container.active:hover svg{
    color: var(--blue);
}

.container.active .textRight{
    color: var(--blue);
}

.container.active:hover .textRight{
    color: var(--blue);
}