.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    gap: 16px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    font-size: 16px;
}

.container{
    display: flex;
    flex-direction: column;
    transition: 0s;
    box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, .3);
}

.item{
    text-align: left;
    border: none;
    background-color: #fff;
    padding: 10px;
    border-top: 1px solid #ebebeb;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
}

.item:hover{
    background-color: #ebebeb;
}