.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    gap: 16px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 12px;
    font-weight: 600;
    background-color: #fff;
    border-radius: var(--radius);
    border: 1px solid #e4e4e4;
}

.dropdown.active{
    border-radius: var(--radius) var(--radius) 0 0;
}

.dropdown.dark {
    color: var(--white);
    border: 1px solid var(--gray);
    background-color: var(--dark-blue-light);
}

.container{
    display: flex;
    flex-direction: column;
    transition: 0s;
    box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, .3);
}

.item{
    text-align: left;
    border: none;
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    font-weight: 300;
}

.label {
    font-size: 12px;
    color: #818181;
    font-weight: 400;
    white-space: nowrap;
}

.item:hover{
    background-color: #f3f3f3;
}

.item.dark {
    background-color: var(--dark-blue);
    border-bottom: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
    border-left: 1px solid var(--gray);
    color: var(--white);
}

.item.dark:hover{
    background-color: var(--dark-blue-light);
}