.container {
    display: flex;
    align-items: stretch;
    gap: 8px;
}

.input {
    background-color: #F8F8F8;
    padding: 6px 12px;
    border-radius: 3px;
    border: none;
    font-size: 14px;
    min-width: 300px;
    border: 1px solid #D9D9D9;
}

.input.dark{
    background-color: var(--dark-blue-light);
    border: 1px solid var(--gray);
    color: var(--white);
}