.container {
    display: flex;
    align-items: stretch;
    gap: 10px;
}

.input {
    background-color: #fff;
    padding: 6px 12px;
    border-radius: var(--radius);
    border: none;
    font-size: 14px;
    min-width: 300px;
}

.input.dark{
    background-color: var(--dark-blue-light);
    border: 1px solid var(--gray);
    color: var(--white);
}