.container {
    max-width: 30ch;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 400;
    padding: 25px 8px;
    color: var(--black);
    border-top: 1px solid #D9D9D9;
}

.container svg {
    color: var(--black);
}

.container.dark {
    border-top: 1px solid var(--gray);
    color: var(--white);
}

.container.dark svg {
    color: var(--white);
}

.hover{
    background-color: #F0F0F0;
}