.container {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
    padding: 25px 8px;
    color: var(--black);
    border-bottom: 1px solid #D9D9D9;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.container.dark {
    background-color: var(--dark-blue);
    border-bottom: 1px solid var(--gray);
}

.container svg {
    color: var(--black);
}

.darkContainer {
    background-color: #F4F4F4;
}

.darkContainer.dark {
    background-color: var(--dark-blue-light);
}


.container.dark {
    color: var(--white);
}

.container.dark svg {
    color: var(--white);
}

.hover{
    background-color: #F0F0F0;
}
