.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label{
    font-weight: 600;
}

.value{
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
}